/* Documentation

Version  1.0.0
Author  Stépahne D
Date création 13/11/2020
Site BMW Cars Fan Club


*/

/* Global */


*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html{
    

    font-family: 'DM Serif Text', serif;
    font-size: 1.2rem ;
}
h1, h2, h3, h4{
    font-size: 30px;
}
.page{
    display: flex;
    flex-wrap: wrap;
    background-image: url(./images/bmw-5665352_1920.jpg);
    background-size: cover;
}
/* header */

.header{
    width: 100%;
    height: 61px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: row;
    background-color: rgba(0,0,0,0.1);
     
}
.header a{
    
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px ;    
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    background: rgba(0,0,0,0.0);
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    
}
.header .color-1 a:hover {
    
    background:#4599FE;
    color: azure;
    box-shadow: 0 0 5px azure, 0 0 25px azure,0 0 50px azure,0 0 200px azure;
}
.header .color-2 a:hover {
    
    background:#031E49;
    color: azure;
    box-shadow: 0 0 5px azure, 0 0 25px azure,0 0 50px azure,0 0 200px azure;
}
.header .color-3 a:hover {
    
    background:#EE0405;
    color: azure;
    box-shadow: 0 0 5px azure, 0 0 25px azure,0 0 50px azure,0 0 200px azure;
}

a span{
    position: absolute;
    display: block;
}
.color-1{
    color: #4599FE;
}
.color-2{
    color: #031E49;
}
.color-3{
    color: #EE0405;
}
.center{
    text-align: center;
}
.p-img-10{
    padding-top: 20px
}
/*a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%
    {
        left: -100% ;
    }
    50%,100%
    {
        left: -100% ;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 2s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
        top: -100% ;
    }
    50%,100%
    {
        top: -100% ;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
        right: -100% ;
    }
    50%,100%
    {
        right: -100% ;
    }
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
        bottom: -100% ;
    }
    50%,100%
    {
        bottom: -100% ;
    }
}*/

/* sidebar 1 */

.sidebar1{
    float: left;
    flex: 1 0px; 
    
}

.azure{
    color: azure;
}
.bleu1{
    color: #4599FE;
}
.bleu2{
    color: #031E49 ;
}
.red{
    color: #EE0405;
}
/* sidebar 2 */

.sidebar2{
    display: flex;
    width: 20%;
    background-color: rgba(0,0,0,0.2);
}
.body{
    display: flex;
    flex: 4 0px;
    height: 1100px;
    float: right;  
   
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0,0,0,0.2);    
    width: 100%;
    height: 90px;
}
a:link {
    text-decoration: none;
}    
a, a:hover{
    color: black;
}

/* footer */

.m-0-flex{
    display: flex;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
/*@media  (max-width:1280px) {


}*/