/* Documentation

Version  1.0.0
Author  Stépahne D
Date création 13/11/2020
Site BMW Cars Fan Club


*/

/* Global */


*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html{
    

    font-family: 'DM Serif Text', serif;
    
}
h1, h2, h3, h4{
    font-size: 30px;
}
.page{
    display: flex;
    flex-wrap: wrap;
    background-image: url(./images/bmw-5665352_1920.jpg);
    background-size: cover;
}
/* header */

.header{
    width: 100%;
    height: 61px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    background-color: rgba(0,0,0,0.1);
     
}
.header a{
    
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px ;    
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    background: rgba(0,0,0,0.0);
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    
}
.header .color-1 a:hover {
    
    background:#4599FE;
    color: azure;
    box-shadow: 0 0 5px azure, 0 0 25px azure,0 0 50px azure,0 0 200px azure;
}
.header .color-2 a:hover {
    
    background:#031E49;
    color: azure;
    box-shadow: 0 0 5px azure, 0 0 25px azure,0 0 50px azure,0 0 200px azure;
}
.header .color-3 a:hover {
    
    background:#EE0405;
    color: azure;
    box-shadow: 0 0 5px azure, 0 0 25px azure,0 0 50px azure,0 0 200px azure;
}

a span{
    position: absolute;
    display: block;
}
.color-1{
    color: #4599FE;
}
.color-2{
    color: #031E49;
}
.color-3{
    color: #EE0405;
}


/* sidebar 1 */

.sidebar1{
    display: flex;
    flex-flow: column wrap;  
    float: left;    
     
    height: 1100px;   
    border-radius: 20px;
    margin: 40px 10px 0px;
}
#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
}
#menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
}
#menu-accordeon li {
     
     border-radius: 6px;
     margin-bottom:2px;
     
}
#menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: #4445;
     box-shadow: none;
     border:none;
     margin:0
}
#menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em
}
#menu-accordeon li:hover {
     background: #3173a530;
}
#menu-accordeon li li:hover {
     background: rgb(58, 54, 54);
}
#menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
}
#menu-accordeon li:hover li {
    max-height: 15em;
}
.azure{
    color: azure;
}
.bleu1{
    color: #4599FE;
}
.bleu2{
    color: #031E49 ;
}
.red{
    color: #EE0405;
}
.center{
    text-align: center;
}
.p-img-10{
    padding-top: 20px
}
.align-link li{
    
    line-height: 40px;
    width: 80%;
    color: azure;
    font-size: 25px;
    
}
/* sidebar 2 */

.sidebar2{
    display: flex;
    width: 20%;
    background-color: rgba(0,0,0,0.2);
}
/* body */

.body{
    display: flex;
    flex: 4 0px;
    height: 1100px;
    float: right;  
   
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgba(0,0,0,0.2);    
    width: 100%;
    height: 90px;
    color: azure;
    font-size: 15px;
}
a:link {
    text-decoration: none;
}    
a, a:hover{
    color: azure;
}

/* footer */

.m-0-flex{
    display: flex;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
/*@media  (max-width:1280px) {


}*/